html, body {
    height: 100%;
    overflow: hidden;
}
main{
    width: 100%;
    max-width: 430px;
    margin: 60px auto 0 auto;
}
img{
    align-items: center;
    width: 100%;
}
.display{
    width: 100%;
    display: flex;
    justify-content: center;
}


